<div class="row">
	<div class="span10">
		<ul class="media-grid">
  		  <li>
    		  <a href="#">
      			<img class="thumbnail" src="/images/shiny_object.jpg" alt="">
    			</a>
  	  		</li>
		</ul>
	</div>
	<div class="span4">
		<a href="https://twitter.com/instafbme" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @instafbme</a>
		<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
	</div>
</div>
