<div class="row">
	<div class="span10">
		<h2><%=@user.username%>'s recent photos</h2>
		<ul class="media-grid">
			<% @recent_media.each do |media| %>
			 	<li class="span3">
					<a href="<%=media.images.standard_resolution.url%>"><img  class="thumbnail" src="<%=media.images.thumbnail.url%>"></a>
				</li>
			<% end %>
		</ul>
		<div class="pagination">
			<ul>
				<li><a href="#">Prev</a></li>
				<li class="active">
					<a href="#">1</a>
				</li>
				<li><a href="#">Next</a></li>
			</ul>
		</div>
	</div>
	<div class="span4">
		<div id="connect_button">
			<img class="thumbnail" src="/images/insta_logo.jpg">
		</div>
	</div>
</div>
