<div class="row">
	<div class="span10">
		<ul class="media-grid">
  		  <li>
    		  <a href="#">
      			<img class="thumbnail" src="/images/bizcat.JPG" alt="">
    			</a>
  	  		</li>
		</ul>
		<pre class="prettyprint"><h2><%=@test%></h2></pre>
	</div>
	<div class="span4">
		<div id="connect_button">
			<a href="/oauth/connect">Connect with Instagram</a>
			<a href="/oauth/connect"><img class="thumbnail" src="/images/insta_logo.jpg"></a>
		</div>
	</div>
</div>
