<div class="row">
	<div class="span10">
		<% if @error%>
			<div class="alert alert-message error">
				<a href="#" data-dismiss="alert" class="close">×</a>
		    		<strong>Holy guacamole!</strong> You need to connect with instagram first!
			</div>
		<% end %>
		<ul class="media-grid">
  		  <li>
    		  <a href="#">
      			<img class="thumbnail" src="/images/bizcat.JPG" alt="">
    			</a>
  	  		</li>
		</ul>
		<pre class="prettyprint"><h2><%=@test%></h2></pre>
	</div>
	<div class="span4">
		<div id="connect_button">
			<a class="btn btn-danger" data-content="Please authorize this app on Instagram" rel="popover" href="/oauth/connect" data-original-title="Connect with Instagram">Connect with Instagram</a>
			<a href="/oauth/connect"><img class="thumbnail" src="/images/insta_logo.jpg"></a>
		</div>
	</div>
</div>
