<div class="row">
	<div class="span10">
		<h2><%=@test%></h2>
		<ul class="media-grid">
  		  <li>
    		  <a href="#">
      			<img class="thumbnail" src="/images/business-cat.jpg" alt="">
    			</a>
  	  		</li>
		</ul>
	</div>
	<div class="span4">
		<div id="connect_button">
			<a href="/oauth/connect">Connect with Instagram</a>
		</div>
	</div>
</div>
